/* Removes the clear button from date inputs */
input[type="time"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="time"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="time"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

input[type="time"]{
    height: 38px;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

